body {
  padding: 50px;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background:url("/images/elk.jpg");
  color: cyan;
  text-shadow: 2px 2px 5px purple;
}

button {
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: cyan;
  color: purple;

}
